body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: roboto;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.hero, .header, .footer {
    background-color: #1f2937;
    display:flex;
}

.hero, .header, .random, .quote-section, .call-to-action {
    padding: 10px 100px;
}

.header {
    justify-content: space-between;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
}

.header-links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
    color: #e5e7eb;
    font-size: 18px;
    align-items: center;
}

.hero-header {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-paragraph {
    font-size: 18px;
    color: #e5e7eb;
}

.image {
    display: flex;
    margin: 25px;
    padding: 10px 100px;
    align-items: center;
    background-color: grey;
    color: #e5e7eb;
}

.random-header {
    text-align: center;
}

.illustrations {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    
}

.illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box {
    border: #3882f6 3px solid;
    border-radius: 8px;
    width: 125px;
    height: 125px;
}

.ill-paragraph {
    width: 125px;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;

}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight:bolder;
}

.call-to-action {
    margin: 50px 100px;
    display: flex;
    justify-content: space-evenly;
}

button, .call-to-action {
    background-color: #3882f6;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    color: #e5e7eb;
}

button {
    font-weight: 600;
    cursor: pointer;
}

.call-sign-up {
    margin: 35px;
    border: white 1px solid;
    
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #e5e7eb;
    padding-top: 20px;
}